/* SPECIFICITY */

*{
    background-color: dimgrey;
    color: rgb(187, 219, 238);
}

span{
    color: darkslateblue;
}

.title{
    background-color: cadetblue;
    color: black;
    text-transform: uppercase;
}

span{
    color: ghostwhite;
}

header{
    background-color: blue;
    width: 100%;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

header h1 .title{
    color: blueviolet;
}