*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    text-align: center;
    background-color: azure;
    color: darkblue;
    padding: 10px;
}

section{
    width: 100%;
    background-color: grey;
    max-width: 1024px;
}

section article{
    width: 80%;
    margin: 0 auto;
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    text-align: justify;
}

@media (max-width:640px){
    h1{
        background-color: azure;
        color: darkblue;
        font-size: 2em;
    }
}